main p {
    font-family: lato, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 100;
    margin: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.241);
}

main h2 {
    font-family: Bree+Serif, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin: 2%;
}


img {
    margin: 0 auto;
    /* 使用margin来水平居中 */
}

