main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    width: 50%;
    height: 30%;
}

main p {
    font-family: lato, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.5rem;
    margin: 2%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.241);
}

main h2 {
    font-family:'DynaPuff', cursive,sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    margin: 2%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    

}